/*Div to show all boxes while modeling the page*/
div{
    border: 1px solid black;
}

/*General Adjustments & Fonts*/

html{
    font-size: 16px;
}

h1{
    font-weight: 900;
    font-size: 3rem;
    white-space: pre-wrap;
}
h2{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1rem;
}
h2, h3, h4, p, .indepth a, span{
    padding-left: 1rem;
}
.image h2, p{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.75rem;
}
p{
    font-size: 1rem;
    line-height: 1rem;
    padding: 1rem;
}
/*Image Settings*/

.media-container img, 
.media-container video{
    display: block;
    width: 100%;
    padding: 2rem 1rem 2rem .5rem;
}

.media-containter{
    overflow: hidden;
}

/*Header Styling.  Main sections are header and class: logo*/
/*Almost complete - need to work on hyperlinks*/
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 4rem;
}
.logo{
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: rgba(80, 86, 86, 0.8) 
}
.logo strong{
    font-weight: bold;
    color: rgba(48, 49, 49, 1) 
}
a{
    text-decoration: none;
    font-size: 1.25rem;
}
nav a{
    display: inline-flex;
    color: black;
    height: 100%;
    padding: 0;
}
nav a:last-child{
    margin-right: 1rem;
}
nav a:nth-child(-n+3){
    border-right: 1rem solid rgba(144, 223, 223, 0.8);
}
/*Overall Content Styling under .content*/
.content{
    padding-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*Main Container Spacing - Set*/
.main-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0rem 1.5rem 2rem 1.5rem;
} 


/*Banner Styling*/
.banner{
    display: flex;
    background-color: #D3D3D3;
}
#banner-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.supporting-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    flex-wrap: wrap;
}
/*need to fix the Start Here button*/
.button{
    background-color: #696969;
    width: 95%;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*.button {
    background-color: #4CAF50; /* Green */
    /*border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}*/
/*Information Styling*/
.info-content{
    display: flex;
}

#block{
    display: flex;
    height: 10.5rem;
    width: 100%;
}
.side-top{
    padding-top: 1rem;
}

.side-image{
    padding: 1rem;
    display: flex;
    width: 35%;
}

.side-image img{
    width: 100%;
    display: block;
}
.side-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 65%;
}

/*Course styling*/
.course{
    display: flex;
    flex-direction: column;
    background-color: #D3D3D3;
    height: auto;
}
.course .core{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .blocks{
    width: 25%;
    background-color: #F8F8FF;
    margin: 2rem;
    padding: 1rem auto 0.5rem auto;
}
.blocks img{
    width: 100%;
    height: 16rem;
}
/*Title for 3rd and 4th container*/
.title{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*Exhibit Styling*/
.exhibit{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.hib{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wide{
    display: flex;
}
.last{
    display: flex;
    flex-direction: column;
}
.last video{
    width: 90%;
    height: auto;
}
.thes{
    display: flex;
}
/*Footer Styling*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 2rem 1.5rem;
}
@media only screen and (min-width:480px){
    .navb{
        display: none;
    }

}
@media only screen and (max-width:480px){
    .nava, .logo span{
        display: none;
    }
    
}