/*General Adjustments & Fonts*/

html{
    font-size: 16px;
}

h1{
    font-weight: 900;
    font-size: 3rem;
    white-space: pre-wrap;
}
h2{
    font-size: 2.5rem;
    font-weight: 800;
}
h3, h4, p{
    padding-left: 1rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.75rem;
}
p{
    font-size: 1rem;
}
/*Image Settings*/
.banner img,
.image img{
    padding: 2rem 2.5rem 2rem 1.5rem;
    max-width: 100%; 
    height: auto; 
    display: block;
}


/*Div to show all boxes while modeling the page*/
div{
    border: 1px solid black;
}
/*Header Styling.  Main sections are header and class: logo*/
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo strong{
    font-weight: bold;
}
a{
    text-decoration: none;
}
nav a{
    display: inline-flex;
    color: black;
    height: 100%;
    padding: 0;
}
nav a:last-child{
    margin-right: 1rem;
}
nav a:nth-child(-n+3){
    border-right: 0.5rem solid rgba(144, 223, 223, 0.8)
}
/*Overall Content Styling under .content*/
.content{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*div.content:nth-child(odd){
    background-color: grey;
}*/
/*Banner Styling*/
.banner{
    display: flex;
    background-color: #D3D3D3;
}


.image{
    display: flex;
    flex-direction: column;
    flex: 3 0 0;
    width: 80%;
}
.bann{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    padding: 0.5rem;
    flex: 1 0 0;
}
.bann h3, .bann p, .bann a{
    flex-wrap: wrap;
    justify-content: center;
}
.bann a{
    background-color: #696969;
    width: 95%;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
/*Information Styling*/
.info{
    display: flex;
}

.block{
    display: flex;
    width: 26.4375rem;
    height: 10.5rem;
}
.indep{
    padding: 1rem;
    display: flex;
    width: 35%;
}
.indep img{
    width: 100%;list-style: 
    display: block;
}


/*Course styling*/
.course{
    display: flex;
    flex-direction: column;
    background-color: #D3D3D3;
    height: auto;
}
.course .core{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .blocks{
    width: 25%;
    background-color: #F8F8FF;
    margin: 2rem;
    padding: 1rem auto 0.5rem auto;
}
.blocks img{
    width: 100%;
    height: 16rem;
}
/*Title for 3rd and 4th container*/
.title{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*Exhibit Styling*/
.exhibit{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.hib{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wide{
    display: flex;
}
.last{
    display: flex;
    flex-direction: column;
}
.thes{
    display: flex;
    flex
}
/*Footer Styling*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 2rem 1.5rem;
    
}