/*Div to show all boxes while modeling the page*/
/*div{
    border: 1px solid black;
}*/

/*General Adjustments & Fonts*/

html{
    font-size: 16px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-weight: 900;
    font-size: 3rem;
    padding: 2rem;
    color: black;
    opacity: 0.6;
}
h2{
    font-size: 2.5rem;
    font-weight: 800;
    opacity: 0.6;
}
#banner-content h4, #banner-content a{
    padding-left: 2rem;
}
h2, h3, h4, p, .side-info a, span{
    padding-left: 1rem;
}
.media-container h2, p{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
h3{
    padding: 0.5rem 0rem 0rem 0.75rem;
    font-size: 1.75rem;
    opacity: 0.7;
}
h4{
    font-size: 1.5rem;
    opacity: 0.5;
    margin-top: 1rem;
    /*line-height: 2rem;*/
}
p, .eman{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
    opacity: 0.5;
}
.grey, .banner, .course{
    background-color: #D3D3D3;
}
/*Image Settings*/

.media-container img, 
.media-container video{
    display: block;
    width: 100%;
    padding: 2rem 0;
}

.media-containter{
    overflow: hidden;
}

/*Header Styling.  Main sections are header and class: logo*/
/*Almost complete - need to work on hyperlinks to continue vert border*/
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 4rem;
    z-index: 2;
}
.logo{
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: rgba(80, 86, 86, 0.8);
}
.logo strong{
    font-weight: bold;
    color: rgba(48, 49, 49, 1);
}
a{
    color: skyblue;
    text-decoration: none;
    font-size: 1.25rem;
}
nav a{
    display: inline-flex;
    color: black;
    height: 100%;

}

/*Overall Content Styling under .content*/
.content{
    padding-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*Main Container Spacing - Set*/
.main-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0rem 1.5rem 2rem 1.5rem;
} 


/*Banner Styling*/
.banner{
    display: flex;
}
#banner-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.supporting-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    flex-wrap: wrap;
}
#banner-content p, #banner-content h1, #banner-content a{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/*need to fix the Start Here button*/
/*Why is the start here item not center?*/
.button{
    background-color: #505050;
    border: none;
    width: 85%;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
}

/*Information Styling*/
.info-content{
    display: flex;
}
.info-content #block{
    border-left: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}
#block{
    display: flex;
    height: 10.5rem;
    width: 100%;
}
.side-top{
    padding-top: 1rem;
}

.side-image{
    padding: 1rem;
    display: flex;
    width: 35%;
}

.side-image img{
    width: 100%;
    display: block;
}
.side-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1rem;
}


/*Course styling*/
.course{
    display: flex;
    flex-direction: column;
    height: auto;
}
.course .core{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .blocks{
    width: 30%;
    background-color: #F8F8FF;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.blocks img{
    width: 100%;
    height: 16rem;
}
/*Title for 3rd and 4th container*/
.title{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*Exhibit Styling*/
.exhibit{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.hib{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.wide{
    display: flex;
}
.last{
    display: flex;
    flex-direction: column;
}
.last video{
    width: 90%;
    height: auto;
}
.thes{
    display: flex;
}
/*Footer Styling*/
footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 2rem 1.5rem;
    color: rgba(99, 98, 107, 0.6)
}
.term a{
    color: rgba(99, 98, 107, 0.6);
    size: 1rem;
    padding-left: 1rem;
}
@media only screen and (min-width:640px){
    .navb, .core-mobile{
        display: none;
    }
    nav a:last-child{
        margin-right: 1rem;
    }
    nav a:nth-child(-n+3){
        border-right: 1rem solid rgba(144, 223, 223, 0.8);
    }

}
@media only screen and (max-width:640px){
   
    .nava, .logo span, .blocks, #disap{
        display: none;
    }
    /*Header*/
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        border: none;
        padding-top: .5rem;
    }
    /*Banner Section - Done*/
    .ban{
        background-color: #505050;
        opacity: 0.7;
        height: 11.25rem;
        width: 100%;
    }
    #banner-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        margin: 2rem 1rem;
    }
    h1, #banner-content p, #banner-content a{
        width: 90%;
    }
    h1{
        font-size: 2.25rem;
        opacity: 0.75;
    }
    /*Info Section*/
    .side-top{
        width: 100%;
        height: auto;
    }
    .info-content #block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        height: 16rem;
        border: none;
    }
    #block .side-image img{
        width: 100%;
    }
    #block .side-image{
        width: 94%;
        padding: 1rem;
        height: 70%;
    }
    #block .side-info{
        padding: 0.25rem 0 1rem 1rem; 
        width: 100%;
        height: 30%;
    }
    #block h3{
        font-size: 1.5rem;
        line-height: 0rem;
    }
    #block a{
        line-height: 0rem;
        font-size: 1rem;
    }
    #block p{
        padding-top: 0.5rem;
        font-size: 1rem;
        line-height: 1rem;
    }
    /*Course Section - Done, might need to adjust margin of blocks*/
    .core-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        padding-top: 1rem;  
        padding-bottom: 2rem;
    }
    #blockid{
        padding-top: 3rem;
        background-color: white;
        border: none;
        width: 100%;
    }
    .block-mobile{
        border: none;
        width: 95%;
        margin: 1rem 0.5rem;
    }
    .block-mobile h5{
        background-color: #D3D3D3;
        border: none;
        padding: 1rem 1rem 1rem 1rem;
    }
    /*Thesis Section - Done*/
    .hib .main-content{
        width: 100%;
    }
    /*Footer corrections*/
    footer{
        color: black;
        font-size: .75rem;
    }
}